:root {
    --grid-font-c: rgb(52, 41, 51);
    --box-color: rgba(240, 255, 255, 0.9);
    --grid1: darkblue;
    --grid2: rgb(0, 140, 255); 
    --line-color: rgb(90, 116, 232);
    --outline-color: rgb(53, 74, 94); 
    --box-outline: 2px solid rgba(255, 255, 255, 0.8);

    --grid-size: max(300px, 30vw);
    --grid-size-wide: min(450px, 30vw);
    --grid-size-mini: 150px;

    font-family: Arial, Helvetica, sans-serif;
    color: var(--grid-font-c);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* Containers */

.title-screen,
#title-screen-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#title-screen-menu{
    gap: 5rem;
    padding: 1rem;
    background-color: var(--box-color);
}

#title-screen-btns {
    display: flex;
    gap: 5rem;
}

@media (max-width: 450px){
    #title-screen-btns {
        flex-direction: column;
        padding-bottom: 5rem;
    }
    .title-screen h1 {
        font-size: 45px !important;
    }
}

#winner-box button,
#winner-box,
.title-screen button,
#title-screen-menu,
#player-icon-container,
#status-box,
#ship-menu,
#grid-2,
#grid {
    box-shadow: 0px 0px 0px 5px var(--outline-color);
    border-radius: 10px; /*not grid*/
}

#container {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background: url('./img/bubbles-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#player-icon-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.3rem auto 1rem auto;
    background-color: var(--box-color);
    width: calc(var(--grid-size) * 1.1);
}

#grid-2,
#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(var(--grid-size) / 10));
    grid-template-rows: repeat(auto-fit, calc(var(--grid-size) / 10));
    margin: 1rem auto;
    width: var(--grid-size);
    height: var(--grid-size);
    transform: rotate(270deg);
    border-radius: 1px !important;
    background-color: var(--grid2);
}

#grid-2 {
    margin-top: 1rem;
}

.mini-grid {
    grid-template-columns: repeat(auto-fit, calc(var(--grid-size-mini) / 10)) !important;
    grid-template-rows: repeat(auto-fit, calc(var(--grid-size-mini) / 10)) !important;
    width: var(--grid-size-mini) !important;
    height: var(--grid-size-mini) !important;
}

#announcement {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -35%;
    margin-top: -5vh;
    padding-top: 3vh;
    height: 10vh;
    width: 70%;
    text-align: center;
    color: var(--grid-font-c);
    font-size: 17px;
    font-family: monofett;
    background-color: var(--box-color);
    box-shadow: 0px 0px 5px 5px white;
    outline: var(--box-outline);
    border-radius: 10px;
    z-index: 1;
}

@media(max-width: 555px){
    #announcement {
        height: 15vh !important;
        white-space: pre;
    }

    #status-box {
        padding: 0.5rem 0 !important;
    }
}

#status-box {
    width: var(--grid-size);
    margin: 1rem auto;
    padding: 2.5rem 0;
    background-color: var(--box-color);
}

#ship-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 75px;
    width: fit-content;
    margin-top: 2rem;
    padding: 0 0.5rem;
    background-color: var(--box-color);
    border-radius: 0 10px 10px 0;
}

@media(min-width: 1000px){
    #ship-menu {
        padding: 0 2rem;
        gap: 2.5rem;
    }

    #container.game-over {
        display: flex;
        align-items: center;
    }

    #winner-box {
        flex-direction: column;
        align-items: center;
    }
}

#winner-box {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    width:  var(--grid-size);
    gap: 1rem;
    margin: 1rem auto;
    background-color: var(--box-color);
    font-family: monofett;
    letter-spacing: 1px;;
}

/* End of Containers*/

/* Text */
#grid-title {
    margin: 1rem 0;
}

.title-screen h1 {
    padding-top: 1.5rem;
    font-size: 60px;
    font-family: monofett;
}

h1 {
    text-align: center;
}

#status-box h2 {
    padding: 0.25rem 2.5rem;
}
/*End of Text*/

/*Images*/
#status-box div:not(#grid-2) {
    display: inline-block;
    height: 25px;
    width: 25px;
    vertical-align: bottom;
    border: 2px solid var(--outline-color);
}

#status-box img {
    width: 30px;
    vertical-align: bottom;
}

#ship-menu div.grid-ship {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid var(--outline-color);
}

@media (max-width: 372px) {
    #ship-menu div.grid-ship{
        width: 11px;
        height: 11px;
        border: 1px solid var(--outline-color);
    }
}

#ship-menu img {
    padding-top: 0.42rem;
}

.right {
    transform: rotate(90deg);
}

.flip {
    transform: scaleX(-1);
}

/*End of Images*/

/*Grid Components*/
.p1,
.p2 {
    border: 0.5px solid var(--line-color);
}

.p1 {
    background-color: var(--grid1);
}

.p2 {
    background-color: var(--grid2);
}

.grid-ship {
    background-color: brown;
}

.grid-hit {
    background: url('./img/explosion-ship.png');
    background-size: contain;
}

.p1.grid-miss {
    background: url('./img/whirlpool-miss-dark.png');/*radial-gradient(rgb(255, 202, 202) 40%, var(--grid1));*/
    background-size: contain;
}

.p2.grid-miss {
    background: url('./img/whirlpool-miss-light.png')/*radial-gradient(rgb(255, 202, 202) 40%, var(--grid2))*/;
    background-size: contain;
}

.grid-target,
.grid-up,
.grid-right {
    width: calc(var(--grid-size) / 10);
    height: calc(var(--grid-size) / 10);
}

.p1 .grid-up,
.p1 .grid-right {
    filter: invert();
}

.grid-up {
    transform: rotate(90deg);
}

.grid-right {
    transform: rotate(180deg);
}

.grid-target {
    filter: invert();
    background-color: cyan;
    border-radius: calc(var(--grid-size) / 10);
}

#grid img {
    pointer-events: none;
}

.hide {
    display: none;
}

/*End of Grid Components*/

/* Buttons */
#winner-box button,
.title-screen button {
    height: 5rem;
    width: 10rem;
    font-size: 30px;
    background-color: var(--box-color);
}

#player-icon-container button {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: rgba(0,0,0,0);
}

#player-1.highlight {
    color: var(--grid2);
    background-color: var(--grid1);
    transform: scale(1.1);
}

#player-2.highlight {
    color: var(--grid1);
    background-color: var(--grid2);
    transform: scale(1.1);
}

#ship-menu button {
    height: 50px;
    width: fit-content;
    background-color: rgba(0,0,0,0);
    white-space: pre;
}

@media(min-width: 500px) {
    #ship-menu button:not(:first-child):not(:last-child) {
        padding-left: 1rem;
        padding-right: 1rem;
    } 
}



#player-icon-container button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px black;
    transform: scale(1.2);
}

#winner-box button:hover,
#ship-menu button:hover,
.title-screen button:hover {
    transform: scale(1.05);
    filter: brightness(110%);
    cursor: pointer;
}

#ship-menu button:first-child:hover.open,
#ship-menu button:last-child:hover.flip{
    /*rotate && place btn only*/
    transform: scale(-1.05, 1.05) !important;
}

#grid * {
    cursor: none !important;
}

#place-ship {
    width: 50px !important;
    text-align: start;
    background: url('./img/chevron-right-box.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom right;
    padding: 0.5rem 0 2rem 0 !important;
}

#place-ship.open {
    background-size: cover;
    transform: rotate(180deg);
}
/* End of Buttons*/

