:root {
    --grid1: blue;
    --grid2: red; 
    --line-color: rgb(90, 116, 232);
    --outline-color: black; 
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, max(30px, 4vw));
    grid-template-rows: repeat(auto-fit, max(30px, 4vw));
    margin: 0 auto;
    width: max(300px, 40vw);
    height: max(300px, 40vw);
    box-shadow: 0px 0px 0px 5px var(--outline-color);
}

.p1,
.p2 {
    border: 0.5px solid var(--line-color);
}

.p1 {
    background-color: var(--grid1);
}

.p2 {
    background-color: var(--grid2);
}